<h3>Bento box #index</h3>
<% bentos.each do |bento| %>
    <%= link_to "#{bento.name}", bentobox_path(bento) %> Type: <%= bento.bento_type %>
    <div>Menu Items:</div>
        <% bento.menu_items.order_array_by_item_type.each do |menu_item| %>
        <% if menu_item.item_type == 'Entree' %>
            <li><strong> Name: <%= menu_item.name %></strong></li>
        <% else %> 
            <li>Name: <%= menu_item.name %></li>
        <% end %> 
    <% end %> 
    <br>
<% end %>