<h1>Adventure Bento Boxes</h1>

<% @bentos.each do |bento| %>
    <li>Name: <%= bento.name %></li>
    <li>Type: <%= bento.bento_type %></li>
            <%= binding.pry %>

    <li>Menu Items: <%= bento.menu_items.name %></li>
    
                <br>

<% end %>




