<div class="row">
<h3>Signature Bento Boxes: </h3>
  <div class="column">


<%= render partial: 'bentoboxes/index', locals: {bentos: @bentos} %>
<h2><%= button_to "Order", new_order_path, method: :get %></h2>

  </div>

    <div class="column">
<h4>Here are your past orders</h4>
<%= render partial: 'orders/index', locals: {bentos: @bentos} %>
</div>

  <div class="column" >
    <h4> Or you can create your own:  </h4> 
    <br>
<br>
<%= link_to "New Bento Box", new_bentobox_path %> </p> 
    <br>
    <br>
    <br>
    </div>