<h1>Menu Items</h1>
<%binding.pry%>
<% @menu_items.order_array_by_item_type.each do |menu_item| %>
    Name: <%= menu_item.name %>
    <li>Price: <%= menu_item.price %></li>
    <li>Type: <%= menu_item.item_type %></li>
    <br>
<% end %>

