<h3>Menu Items #index</h3>
<% zipped_array = @bento.menu_items.zip(@bento.bento_menu_items) %>

<% zipped_array.each do |menu_item, bento_menu_item| %>
    <div><%= link_to "#{menu_item.name}", menu_item_path(menu_item) %></div>
    <li>Price: <%= menu_item.price %></li>
    <li>Type: <%= menu_item.item_type %></li>
    <li>Quantity: <%= bento_menu_item.quantity if bento_menu_item.menu_item==menu_item%></li>
    <br>
<% end %>



