
<% if session[:omniauth_data]["uid"] %>
<p>Welcome <%= session[:omniauth_data]['info']['nickname'] %> </p>
  
<% else %>
  <p>Try <%= link_to 'Signing in with the GitHub strategy', '/auth/github'%>.</p>
<% end %>
