<h3>Orders #index</h3>
<% @orders.each do |order| %>
    <%= link_to "View Order", user_order_path(@user, order) %>
    <div>Bento boxes:</div>
    <% order.bentoboxes.each do |bento| %>
        <li><%= bento.name %></li>
    <% end %> 
    <br>
<% end %>