<h5>A million ancient bees</h5>
<h5>Began to sting our knees</h5>

<%= form_for(@order) do |f| %>
    <p> <%= f.hidden_field :user_id, value: @user.id %>
    
    </p>

   


    <p>
        <%= f.collection_check_boxes :bentobox_ids, Bentobox.all, :id, :name %>
    </p>

    <%= f.submit %>
<% end %>

